language: php
dist: trusty
branches:
  only:
  - master
  - /[0-9]+\.[0-9]+\.[0-9]+/
git:
  depth: 3
cache:
  directories:
    - $HOME/.composer/cache/
jobs:
  include:
# PHP Linting
    - stage: PHP Linting
      php: 7.2
      name: PHP 7.2
      before_install:
        - phpenv config-rm xdebug.ini || true
        - mkdir ../tools && composer init --name=putg/tools --working-dir=../tools
        - composer require jakub-onderka/php-parallel-lint:^1 --working-dir=../tools
      install: true
      script:
        - ../tools/vendor/bin/parallel-lint --exclude vendor .
    - stage: PHP Linting
      php: 7.1
      name: PHP 7.1
      before_install:
        - phpenv config-rm xdebug.ini || true
        - mkdir ../tools && composer init --name=putg/tools --working-dir=../tools
        - composer require jakub-onderka/php-parallel-lint:^1 --working-dir=../tools
      install: true
      script:
        - ../tools/vendor/bin/parallel-lint --exclude vendor --exclude .phan .
    - stage: PHP Linting
      php: 7.0
      name: PHP 7.0
      before_install:
        - phpenv config-rm xdebug.ini || true
        - mkdir ../tools && composer init --name=putg/tools --working-dir=../tools
        - composer require jakub-onderka/php-parallel-lint:^1 --working-dir=../tools
      install: true
      script:
        - ../tools/vendor/bin/parallel-lint --exclude vendor --exclude .phan .
    - stage: PHP Linting
      php: 5.6
      name: PHP 5.6
      before_install:
        - phpenv config-rm xdebug.ini || true
        - mkdir ../tools && composer init --name=putg/tools --working-dir=../tools
        - composer require jakub-onderka/php-parallel-lint:^1 --working-dir=../tools
      install: true
      script:
        - ../tools/vendor/bin/parallel-lint --exclude vendor --exclude .phan . .
    - stage: PHP Linting
      php: 5.5
      name: PHP 5.5
      before_install:
        - phpenv config-rm xdebug.ini || true
        - mkdir ../tools && composer init --name=putg/tools --working-dir=../tools
        - composer require jakub-onderka/php-parallel-lint:^1 --working-dir=../tools
      install: true
      script:
        - ../tools/vendor/bin/parallel-lint --exclude vendor --exclude .phan .
    - stage: PHP Linting
      php: 5.4
      name: PHP 5.4
      before_install:
        - phpenv config-rm xdebug.ini || true
        - mkdir ../tools && composer init --name=putg/tools --working-dir=../tools
        - composer require jakub-onderka/php-parallel-lint:^1 --working-dir=../tools
      install: true
      script:
        - ../tools/vendor/bin/parallel-lint --exclude vendor --exclude .phan .
    - stage: PHP Linting
      php: 5.3
      dist: precise
      name: PHP 5.3
      before_install:
        - phpenv config-rm xdebug.ini || true
        - mkdir ../tools && composer init --name=putg/tools --working-dir=../tools
        - composer require jakub-onderka/php-parallel-lint:^1 --working-dir=../tools
      install: true
      script:
        - ../tools/vendor/bin/parallel-lint --exclude vendor --exclude .phan .
# Unit Tests
    - stage: Test
      php: 7.2
      name: PHP 7.2
      before_install:
        - mkdir ../tools && composer init --name=putg/tools --working-dir=../tools
        - composer require codacy/coverage:dev-master --working-dir=../tools
      install:
        - composer update
      script:
        - vendor/bin/phpunit --testdox --coverage-text --coverage-clover build/logs/clover.xml --whitelist src/ test/
        - ../tools/vendor/bin/codacycoverage clover build/logs/clover.xml
    - stage: Test
      php: 7.1
      name: PHP 7.1
      before_install:
        - phpenv config-rm xdebug.ini || true
      install:
        - composer update
      script:
        - vendor/bin/phpunit --testdox test/
    - stage: Test
      php: 7.0
      name: PHP 7.0
      before_install:
        - phpenv config-rm xdebug.ini || true
      install:
        - composer update
      script:
        - vendor/bin/phpunit --testdox test/
    - stage: Test
      php: 5.6
      name: PHP 5.6
      before_install:
        - phpenv config-rm xdebug.ini || true
      install:
        - composer update
      script:
        - vendor/bin/phpunit --testdox test/
    - stage: Test
      php: 5.5
      dist: precise
      name: PHP 5.5
      before_install:
        - phpenv config-rm xdebug.ini || true
      install:
        - composer update
      script:
        - vendor/bin/phpunit --testdox test/
    - stage: Test
      php: 5.4
      name: PHP 5.4
      before_install:
        - phpenv config-rm xdebug.ini || true
      install:
        - composer update
      script:
        - vendor/bin/phpunit --testdox test/
    - stage: Test
      php: 5.3
      dist: precise
      name: PHP 5.3
      before_install:
        - phpenv config-rm xdebug.ini || true
      install:
        - composer update
      script:
        - vendor/bin/phpunit --testdox test/
# Static Code Analysis
    - stage: Static Code Analysis
      php: 7.2
      name: PHP Assumptions
      before_install:
        - phpenv config-rm xdebug.ini || true
        - mkdir ../tools && composer init --name=putg/tools --working-dir=../tools
        - composer require rskuipers/php-assumptions:^0.7.0 --working-dir=../tools
      install: composer update
      script:
        - ../tools/vendor/bin/phpa --exclude=./vendor ./
    - stage: Static Code Analysis
      php: 7.2
      name: "PHP Codesniffer: PSR2"
      before_install:
        - phpenv config-rm xdebug.ini || true
        - mkdir ../tools && composer init --name=putg/tools --working-dir=../tools
        - composer require squizlabs/php_codesniffer:^3.2.2 --working-dir=../tools
      install: true
      script:
        - ../tools/vendor/bin/phpcs -p --standard=PSR2 src test bin
    - stage: Static Code Analysis
      php: 7.2
      name: Composer Require Checker
      before_install:
        - phpenv config-rm xdebug.ini || true
        - mkdir ../tools && composer init --name=putg/tools --working-dir=../tools
        - composer config repositories.maglnet/composer-require-checker '{"type":"vcs","url":"https://github.com/idrinth/ComposerRequireChecker","no-api":true}' --working-dir=../tools && composer require maglnet/composer-require-checker:dev-bandaid --working-dir=../tools
      install: composer update
      script:
        - ../tools/vendor/bin/composer-require-checker check --register-namespace=nikic/php-parser:PhpParser\\:lib/PhpParser ./composer.json
    - stage: Static Code Analysis
      php: 7.2
      name: PHPstan
      before_install:
        - phpenv config-rm xdebug.ini || true
        - mkdir ../tools && composer init --name=putg/tools --working-dir=../tools
        - composer require phpstan/phpstan:^0.10 --working-dir=../tools
      install: composer update
      script:
        - ../tools/vendor/bin/phpstan analyse --level max src tests
    - stage: Static Code Analysis
      php: 7.2
      name: Phan
      before_install:
        - phpenv config-rm xdebug.ini || true
        - mkdir ../tools && composer init --name=putg/tools --working-dir=../tools --ignore-platform-reqs
        - composer require phan/phan:^1 --working-dir=../tools
      install: composer update
      script:
        - ../tools/vendor/bin/phan
# Pre-Tag
    - stage: Pre-Tag
      php: 7.2
      name: PHP Semver Checker
      before_install:
        - phpenv config-rm xdebug.ini || true
        - mkdir ../tools && composer init --name=putg/tools --working-dir=../tools
        - composer create-project tomzx/php-semver-checker-git:^0.7 --working-dir=../tools
      install: composer update
      script:
        - ../tools/php-semver-checker-git/bin/php-semver-checker-git suggest --allow-detached --details --include-before=src --include-after=src
